# External Lab

# Part-1

## About the dataset

This is perhaps the best known database to be found in the pattern recognition literature. The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

### Read the dataset and store it in the dataframe named Iris

In [1]:
import pandas as pd 
import numpy as np
Iris=pd.read_csv("Iris_external.csv")

### Find out the datatypes of each and every column

In [2]:
Iris.dtypes

Sepal Length (in cm)    float64
Sepal Width in (cm)     float64
Petal length (in cm)    float64
Petal width (in cm)     float64
Class                    object
dtype: object

### Print top 10 & bottom 10 samples from the dataframe

In [3]:
top_10=Iris.head(n=10)
print(top_10)

   Sepal Length (in cm)  Sepal Width in (cm)  Petal length (in cm)  \
0                   5.1                  3.5                   1.4
1                   4.9                  3.0                   1.4
2                   4.7                  3.2                   1.3
3                   4.6                  3.1                   1.5
4                   5.0                  3.6                   1.4
5                   5.4                  3.9                   1.7
6                   4.6                  3.4                   1.4
7                   5.0                  3.4                   1.5
8                   4.4                  2.9                   1.4
9                   4.9                  3.1                   1.5

   Petal width (in cm)        Class
0                  0.2  Iris-setosa
1                  0.2  Iris-setosa
2                  0.2  Iris-setosa
3                  0.2  Iris-setosa
4                  0.2  Iris-setosa
5                  0.4  Iris-setosa
6                  0.3  Iris-setosa
7                  0.2  Iris-setosa
8                  0.2  Iris-setosa
9                  0.1  Iris-setosa

In [ ]:
bottom_10=Iris.tail(n=10)
print(bottom_10)

### Find the shape of the dataset

In [ ]:
Iris.shape

### Set the index of the dataframe to be the first column

In [ ]:
Iris.reset_index(col_level=0)

In [ ]:
Iris.reset_index(col_level=0,drop=True)

### Use iloc function to print all the rows of the 3rd column

In [ ]:
Iris.iloc[:,2] 
# for someone who reads the data will observe Petal length (in cm) to be the third columns but we have indexing applied from 0 
# onwards to the column of a dataframe that's why i have mentioned 2 as the index to get the third column ie Petal length(in cm)

### Slicing
Print only the Sepal width and Sepal Length for first 10 rows

In [ ]:
Iris.loc[0:10, ['Sepal Length (in cm)', 'Sepal Width in (cm)']]

### Using Logical statements for indexing
Print all the columns of row which has class name "Iris-setosa"

In [ ]:
Iris.loc[Iris['Class'] == 'Iris-setosa']



### Multiply Sepal Length and width and store it under the column name "SepalExtra" in the same Iris dataframe

In [ ]:
Iris['SepalExtra']= (Iris['Sepal Length (in cm)'] * Iris['Sepal Width in (cm)'])
Iris.head(5)

In [ ]:

fn=lambda Iris:(Iris['Sepal Length (in cm)'] * Iris['Sepal Width in (cm)'])
col = Iris.apply(fn, axis=1)
Iris = Iris.assign(SepalExtra=col.values)
Iris.head(n=5)

### Find out the mean and variance for each column but for class column

In [ ]:
Iris.mean()

In [ ]:
Iris.var()

### Write a function that accepts two numbers as input and prints them - Pass the Sepal length and sepal width of 5th row and print the output

In [ ]:
def accept_two(x,y):
    print(x,"and",y)

In [ ]:
accept_two(Iris.loc[4,'Sepal Length (in cm)'],Iris.loc[4,'Sepal Width in (cm)'])

### Find the range of all the columns in the dataset

*Range = Max value - Min value (in the column)*

In [ ]:
# range of sepal length
a=Iris['Sepal Length (in cm)'].max()
b=Iris['Sepal Length (in cm)'].min()
range_sepal_length=a-b
print(range_sepal_length)

In [ ]:
# range of sepal width
a=Iris['Sepal Width in (cm)'].max()
b=Iris['Sepal Width in (cm)'].min()
range_sepal_width=a-b
print(range_sepal_width)

In [ ]:
# range of petal length
a=Iris['Petal length (in cm)'].max()
b=Iris['Petal length (in cm)'].min()
range_petal_length=a-b
print(range_petal_length)

In [ ]:
# range of petal width
a=Iris['Petal width (in cm)'].max()
b=Iris['Petal width (in cm)'].min()
range_petal_width=a-b
print(range_petal_width)

In [ ]:
# range of SepalExtra
a=Iris['SepalExtra'].max()
b=Iris['SepalExtra'].min()
range_SepalExtra=a-b
print(range_SepalExtra)

### Sort the entire dataset according to the column Petal width

In [ ]:
Iris=Iris.sort_values('Petal width (in cm)')

In [ ]:
Iris.head(n=10)

### Remove the new column "SepalExtra" from the dataframe

In [ ]:
Iris.drop(columns='SepalExtra')

### Take only the top 10 rows of the dataset with only first 3 columns and store it in a dataframe named "IrisSubset"

In [ ]:
#to get first 3 columns and top 10 rows
Iris.loc[0:10, ['Sepal Length (in cm)', 'Sepal Width in (cm)','Petal length (in cm)']]

In [ ]:
IrisSubset= pd.DataFrame(data=Iris.loc[0:10, ['Sepal Length (in cm)', 'Sepal Width in (cm)','Petal length (in cm)']] )
IrisSubset

# Part-2

## The dataset HR contains information collected from the survey floated by a HR within the company.


As a part of this lab, you are expected to answer the below questions

### Import numpy and Pandas

In [ ]:
import numpy as np
import pandas as pd

### Import the dataset (Note: The dataset is in .txt format) - Make sure to use delimiters

In [ ]:
HR=pd.read_csv('HR_external.txt',delimiter="\t",)
HR.head()
#delimiter is an alternate name for sep

# Print the no of rows and columns in the dataset

In [ ]:
HR.shape

In [ ]:
# nos of rows
HR.shape[0]

In [ ]:
#nos of cols
HR.shape[1]

### Find out the type of each and every column in the dataset

In [ ]:
HR.dtypes

### Print out all the rows from 3rd column to 10th columns

In [ ]:
HR.iloc[:,3:11]

### Find out the no of male & female employees in the company

*Hint: Use can use a condition to find out the no of 1s and 0s in gender and sum it*

In [ ]:
# HR['Gender'].value_counts() gives total number of 1s and 2s present in the gender column
#option 1
sum=0
for i in HR['Gender']:
    if i==1:
        sum=sum+1
print("Number of males in HR dataset =",sum)

In [ ]:
sum=0
for i in HR['Gender']:
    if i==2:
        sum=sum+1
print("Number of females in HR dataset =",sum)

In [ ]:
#option 2
print("Number of males in HR dataset =",HR['Gender'].value_counts()[1])
print("Number of females in HR dataset =",HR['Gender'].value_counts()[2])

### Find out the IQR for the column - Age 

*Hint: IQR - Interquartile range = 75th percentile - 25th percentile*

In [ ]:
q1, q3= np.percentile(HR.Age, [25,75])

In [ ]:
iqr = q3 - q1
print("Interquartile range=",iqr)

### Find out the mean, median and variance for the column - DailyRate

In [ ]:
s=HR['DailyRate'].mean()
w=HR['DailyRate'].median()
q=HR['DailyRate'].var()
print("Mean of DailyRate column= ",s,'\n'
      "Median of DailyRate column= ",w,'\n'
      "Variance of DailyRate column=",q)

### Plot the attrition column (Since it is a categorical variable, chose the plot accordingly)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
HR['Attrition']

In [ ]:
sns.countplot(HR['Attrition'])

### Plot Total working years using matplotlib plot function

In [ ]:
plt.plot(HR['TotalWorkingYears'],color='red')